In [1]:
# we need to verify the counts we have computed for the sub density maps are the same from the notebooks 1 and 3.

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
file_loc_preproc_counts = "all_preprocessed_data/Block_0103/sub_count_dfs/"
file_loc_preproc_counts

'all_preprocessed_data/Block_0103/sub_count_dfs/'

In [4]:
contents_this_folder = os.listdir(file_loc_preproc_counts)
contents_this_folder.sort()

In [5]:
contents_this_folder = contents_this_folder[1:] # as there was a pynb checkpointing folder

In [6]:
contents_this_folder

['subcount_df_0.csv',
 'subcount_df_1.csv',
 'subcount_df_10.csv',
 'subcount_df_11.csv',
 'subcount_df_12.csv',
 'subcount_df_13.csv',
 'subcount_df_14.csv',
 'subcount_df_15.csv',
 'subcount_df_16.csv',
 'subcount_df_17.csv',
 'subcount_df_18.csv',
 'subcount_df_19.csv',
 'subcount_df_2.csv',
 'subcount_df_3.csv',
 'subcount_df_4.csv',
 'subcount_df_5.csv',
 'subcount_df_6.csv',
 'subcount_df_7.csv',
 'subcount_df_8.csv',
 'subcount_df_9.csv']

In [7]:
# contents_this_folder.sort()

In [8]:
%%time
catch_all_dfs = []
for file in contents_this_folder:
    df_path = os.path.join(file_loc_preproc_counts, file)
    df_read = pd.read_csv(df_path)
    catch_all_dfs.append(df_read)

CPU times: user 27.5 ms, sys: 2.31 ms, total: 29.8 ms
Wall time: 52.3 ms

In [9]:
len(catch_all_dfs)

20

In [10]:
# concatenate all these data together
all_preproc_density_df = pd.concat((catch_all_dfs[0], catch_all_dfs[1][['sub_counts']], catch_all_dfs[12][['sub_counts']], catch_all_dfs[13][['sub_counts']]
          , catch_all_dfs[14][['sub_counts']], catch_all_dfs[15][['sub_counts']], catch_all_dfs[16][['sub_counts']], catch_all_dfs[17][['sub_counts']],
           catch_all_dfs[18][['sub_counts']], catch_all_dfs[19][['sub_counts']], catch_all_dfs[2][['sub_counts']], catch_all_dfs[3][['sub_counts']], 
           catch_all_dfs[4][['sub_counts']], catch_all_dfs[5][['sub_counts']], 
           catch_all_dfs[6][['sub_counts']], catch_all_dfs[7][['sub_counts']], catch_all_dfs[8][['sub_counts']], catch_all_dfs[9][['sub_counts']],
           catch_all_dfs[10][['sub_counts']], catch_all_dfs[11][['sub_counts']]), axis = 1)

In [11]:
all_preproc_density_df.shape

(12, 21)

In [12]:
all_preproc_density_df.columns = ['image_context'] + ['sub_count_' + str(i) for i in range(len(catch_all_dfs))]

In [13]:
all_preproc_density_df

,image_context,sub_count_0,sub_count_1,sub_count_2,sub_count_3,sub_count_4,sub_count_5,sub_count_6,sub_count_7,sub_count_8,...,sub_count_10,sub_count_11,sub_count_12,sub_count_13,sub_count_14,sub_count_15,sub_count_16,sub_count_17,sub_count_18,sub_count_19
0,Block0103_2020_08_03_0.npy,3.000005,4.000000,4.000155,8.004741,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.022552,3.008102,3.000000,4.002516,4.000155,3.000000,3.000000,4.000000,1.000000e+00
1,Block0103_2020_08_03_1.npy,5.008098,4.656012,4.942209,4.994409,4.000000,5.000013,4.945540,4.159434,4.000000,...,5.001420,4.273683,4.986238,4.008115,3.788700,4.004599,4.000000,4.022552,6.054452,4.344055e+00
2,Block0103_2020_08_03_2.npy,7.780586,7.321493,7.088444,7.997413,7.344028,7.344058,6.411500,4.840393,4.793299,...,5.901934,7.935957,7.882882,6.203186,7.895105,6.674109,4.000031,4.633390,5.051952,3.921702e+00
3,Block0103_2020_08_03_3.npy,2.000000,0.964345,3.002519,2.000040,2.004334,0.999845,0.656616,2.000997,0.977448,...,0.999326,1.055786,1.000013,2.000008,1.922893,0.999997,0.500000,0.985549,1.948060,4.874045e-07
4,Block0103_2020_08_03_4.npy,3.999996,5.002846,5.919502,5.957682,4.999995,5.000000,4.991898,4.022552,3.000000,...,4.000000,4.557173,5.991898,3.344058,5.020036,3.999845,3.000000,2.000000,2.000000,2.000000e+00
5,Block0103_2020_08_03_5.npy,4.158125,4.997743,6.329784,4.008394,4.991964,4.019596,2.398518,4.189421,4.013762,...,4.999986,2.726300,3.014092,3.945552,3.211300,3.995401,3.054460,4.080343,4.117900,3.035634e+00
6,Block0103_2020_08_03_6.npy,5.053248,6.236039,8.970508,8.994122,5.664164,8.846959,4.799121,5.788182,8.192939,...,5.062568,6.008256,6.905446,9.788758,4.032668,5.325889,5.999969,5.255614,5.764955,6.698576e+00
7,Block0103_2020_08_03_7.npy,1.000000,1.036339,1.997555,1.002083,1.001501,1.022747,1.369946,0.000000,1.022555,...,1.000674,0.000000,0.964366,1.000653,0.171887,0.000005,0.500000,0.022552,2.056697,2.000000e+00
8,Block0103_2020_08_03_8.npy,2.000000,2.999671,2.080343,3.999977,1.000005,1.000000,1.008102,2.000000,1.000000,...,2.000000,1.420275,1.000000,0.655942,1.977448,3.000000,1.000000,2.000000,1.000000,3.000000e+00
9,Block0103_2020_08_03_9.npy,3.008101,4.158133,3.594518,4.001077,3.420210,1.042952,0.655942,3.008106,1.001328,...,2.000000,2.114589,2.002516,2.054460,2.655942,3.000000,1.865198,1.000032,1.012700,1.000030e+00
10,Block0103_2020_08_03_10.npy,3.991838,5.628059,3.074537,5.998925,4.579635,2.746422,2.788700,4.991894,3.998672,...,3.999845,4.885451,5.208784,3.999930,4.321506,5.999987,4.080343,4.991866,5.995371,2.000000e+00
11,Block0103_2020_08_03_11.npy,2.000001,1.999979,2.000105,2.000000,2.000001,0.977455,0.000000,0.000000,1.000000,...,2.000008,0.000000,1.035665,0.000000,0.000000,0.000013,0.000000,0.008102,1.000000,0.000000e+00

In [14]:
final_ts_dfs_path = "all_preprocessed_data/Block_0103/TS_ready_data_frames/"

In [15]:
contents_final_df_path = os.listdir(final_ts_dfs_path)
contents_final_df_path.sort()

In [16]:
contents_final_df_path = contents_final_df_path[1:]

In [17]:
contents_final_df_path

['extracted_features_sub_window_0.csv',
 'extracted_features_sub_window_1.csv',
 'extracted_features_sub_window_10.csv',
 'extracted_features_sub_window_11.csv',
 'extracted_features_sub_window_2.csv',
 'extracted_features_sub_window_3.csv',
 'extracted_features_sub_window_4.csv',
 'extracted_features_sub_window_5.csv',
 'extracted_features_sub_window_6.csv',
 'extracted_features_sub_window_7.csv',
 'extracted_features_sub_window_8.csv',
 'extracted_features_sub_window_9.csv']

In [18]:
late_dates = ['extracted_features_sub_window_10.csv', 'extracted_features_sub_window_11.csv']

In [19]:
early_dates = [i for i in contents_final_df_path if i not in late_dates]

In [20]:
final_dates = early_dates + late_dates

In [21]:
final_dates

['extracted_features_sub_window_0.csv',
 'extracted_features_sub_window_1.csv',
 'extracted_features_sub_window_2.csv',
 'extracted_features_sub_window_3.csv',
 'extracted_features_sub_window_4.csv',
 'extracted_features_sub_window_5.csv',
 'extracted_features_sub_window_6.csv',
 'extracted_features_sub_window_7.csv',
 'extracted_features_sub_window_8.csv',
 'extracted_features_sub_window_9.csv',
 'extracted_features_sub_window_10.csv',
 'extracted_features_sub_window_11.csv']

In [22]:
%%time
catch_final_dfs = []
for file in final_dates:
    df_path = os.path.join(final_ts_dfs_path, file)
    df_read = pd.read_csv(df_path)
    df_count = df_read[['tassel_count']]
    catch_final_dfs.append(df_count)

CPU times: user 30.1 ms, sys: 2.01 ms, total: 32.1 ms
Wall time: 44.8 ms

In [23]:
counts_only_df = pd.DataFrame(np.hstack(catch_final_dfs).T, columns = ['sub_count_' + str(i) for i in range(20)])

In [24]:
counts_only_df

,sub_count_0,sub_count_1,sub_count_2,sub_count_3,sub_count_4,sub_count_5,sub_count_6,sub_count_7,sub_count_8,sub_count_9,sub_count_10,sub_count_11,sub_count_12,sub_count_13,sub_count_14,sub_count_15,sub_count_16,sub_count_17,sub_count_18,sub_count_19
0,3.000005,4.000000,4.000155,8.004741,4.000000,4.000000,4.000000,4.000000,4.000000,4.999982,4.000000,4.022552,3.008102,3.000000,4.002516,4.000155,3.000000,3.000000,4.000000,1.000000e+00
1,5.008098,4.656012,4.942209,4.994409,4.000000,5.000013,4.945540,4.159434,4.000000,5.000326,5.001420,4.273683,4.986238,4.008115,3.788700,4.004599,4.000000,4.022552,6.054452,4.344055e+00
2,7.780586,7.321493,7.088444,7.997413,7.344028,7.344058,6.411500,4.840393,4.793299,6.524655,5.901934,7.935957,7.882882,6.203186,7.895105,6.674109,4.000031,4.633390,5.051952,3.921702e+00
3,2.000000,0.964345,3.002519,2.000040,2.004334,0.999845,0.656616,2.000997,0.977448,1.096711,0.999326,1.055786,1.000013,2.000008,1.922893,0.999997,0.500000,0.985549,1.948060,4.874045e-07
4,3.999996,5.002846,5.919502,5.957682,4.999995,5.000000,4.991898,4.022552,3.000000,4.841875,4.000000,4.557173,5.991898,3.344058,5.020036,3.999845,3.000000,2.000000,2.000000,2.000000e+00
5,4.158125,4.997743,6.329784,4.008394,4.991964,4.019596,2.398518,4.189421,4.013762,4.000030,4.999986,2.726300,3.014092,3.945552,3.211300,3.995401,3.054460,4.080343,4.117900,3.035634e+00
6,5.053248,6.236039,8.970508,8.994122,5.664164,8.846959,4.799121,5.788182,8.192939,7.263685,5.062568,6.008256,6.905446,9.788758,4.032668,5.325889,5.999969,5.255614,5.764955,6.698576e+00
7,1.000000,1.036339,1.997555,1.002083,1.001501,1.022747,1.369946,0.000000,1.022555,0.114589,1.000674,0.000000,0.964366,1.000653,0.171887,0.000005,0.500000,0.022552,2.056697,2.000000e+00
8,2.000000,2.999671,2.080343,3.999977,1.000005,1.000000,1.008102,2.000000,1.000000,1.158125,2.000000,1.420275,1.000000,0.655942,1.977448,3.000000,1.000000,2.000000,1.000000,3.000000e+00
9,3.008101,4.158133,3.594518,4.001077,3.420210,1.042952,0.655942,3.008106,1.001328,2.000005,2.000000,2.114589,2.002516,2.054460,2.655942,3.000000,1.865198,1.000032,1.012700,1.000030e+00
10,3.991838,5.628059,3.074537,5.998925,4.579635,2.746422,2.788700,4.991894,3.998672,4.999995,3.999845,4.885451,5.208784,3.999930,4.321506,5.999987,4.080343,4.991866,5.995371,2.000000e+00
11,2.000001,1.999979,2.000105,2.000000,2.000001,0.977455,0.000000,0.000000,1.000000,1.000000,2.000008,0.000000,1.035665,0.000000,0.000000,0.000013,0.000000,0.008102,1.000000,0.000000e+00

In [25]:
sub_win_name = pd.DataFrame(final_dates, columns = ['Sub_window_name'])

In [26]:
final_df_facts = pd.concat((sub_win_name, counts_only_df), axis = 1)

In [27]:
final_df_facts.head()

,Sub_window_name,sub_count_0,sub_count_1,sub_count_2,sub_count_3,sub_count_4,sub_count_5,sub_count_6,sub_count_7,sub_count_8,...,sub_count_10,sub_count_11,sub_count_12,sub_count_13,sub_count_14,sub_count_15,sub_count_16,sub_count_17,sub_count_18,sub_count_19
0,extracted_features_sub_window_0.csv,3.000005,4.000000,4.000155,8.004741,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.022552,3.008102,3.000000,4.002516,4.000155,3.000000,3.000000,4.000000,1.000000e+00
1,extracted_features_sub_window_1.csv,5.008098,4.656012,4.942209,4.994409,4.000000,5.000013,4.945540,4.159434,4.000000,...,5.001420,4.273683,4.986238,4.008115,3.788700,4.004599,4.000000,4.022552,6.054452,4.344055e+00
2,extracted_features_sub_window_2.csv,7.780586,7.321493,7.088444,7.997413,7.344028,7.344058,6.411500,4.840393,4.793299,...,5.901934,7.935957,7.882882,6.203186,7.895105,6.674109,4.000031,4.633390,5.051952,3.921702e+00
3,extracted_features_sub_window_3.csv,2.000000,0.964345,3.002519,2.000040,2.004334,0.999845,0.656616,2.000997,0.977448,...,0.999326,1.055786,1.000013,2.000008,1.922893,0.999997,0.500000,0.985549,1.948060,4.874045e-07
4,extracted_features_sub_window_4.csv,3.999996,5.002846,5.919502,5.957682,4.999995,5.000000,4.991898,4.022552,3.000000,...,4.000000,4.557173,5.991898,3.344058,5.020036,3.999845,3.000000,2.000000,2.000000,2.000000e+00

In [28]:
final_df_facts['Sub_window_name'] = [int(item.split(".")[0].split("_")[-1]) for item in final_df_facts['Sub_window_name']]

In [29]:
final_df_facts.head()

,Sub_window_name,sub_count_0,sub_count_1,sub_count_2,sub_count_3,sub_count_4,sub_count_5,sub_count_6,sub_count_7,sub_count_8,...,sub_count_10,sub_count_11,sub_count_12,sub_count_13,sub_count_14,sub_count_15,sub_count_16,sub_count_17,sub_count_18,sub_count_19
0,0,3.000005,4.000000,4.000155,8.004741,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.022552,3.008102,3.000000,4.002516,4.000155,3.000000,3.000000,4.000000,1.000000e+00
1,1,5.008098,4.656012,4.942209,4.994409,4.000000,5.000013,4.945540,4.159434,4.000000,...,5.001420,4.273683,4.986238,4.008115,3.788700,4.004599,4.000000,4.022552,6.054452,4.344055e+00
2,2,7.780586,7.321493,7.088444,7.997413,7.344028,7.344058,6.411500,4.840393,4.793299,...,5.901934,7.935957,7.882882,6.203186,7.895105,6.674109,4.000031,4.633390,5.051952,3.921702e+00
3,3,2.000000,0.964345,3.002519,2.000040,2.004334,0.999845,0.656616,2.000997,0.977448,...,0.999326,1.055786,1.000013,2.000008,1.922893,0.999997,0.500000,0.985549,1.948060,4.874045e-07
4,4,3.999996,5.002846,5.919502,5.957682,4.999995,5.000000,4.991898,4.022552,3.000000,...,4.000000,4.557173,5.991898,3.344058,5.020036,3.999845,3.000000,2.000000,2.000000,2.000000e+00

In [30]:
final_df_facts = final_df_facts.sort_values(['Sub_window_name']).reset_index(drop = True)

In [31]:
final_df_facts

,Sub_window_name,sub_count_0,sub_count_1,sub_count_2,sub_count_3,sub_count_4,sub_count_5,sub_count_6,sub_count_7,sub_count_8,...,sub_count_10,sub_count_11,sub_count_12,sub_count_13,sub_count_14,sub_count_15,sub_count_16,sub_count_17,sub_count_18,sub_count_19
0,0,3.000005,4.000000,4.000155,8.004741,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.022552,3.008102,3.000000,4.002516,4.000155,3.000000,3.000000,4.000000,1.000000e+00
1,1,5.008098,4.656012,4.942209,4.994409,4.000000,5.000013,4.945540,4.159434,4.000000,...,5.001420,4.273683,4.986238,4.008115,3.788700,4.004599,4.000000,4.022552,6.054452,4.344055e+00
2,2,7.780586,7.321493,7.088444,7.997413,7.344028,7.344058,6.411500,4.840393,4.793299,...,5.901934,7.935957,7.882882,6.203186,7.895105,6.674109,4.000031,4.633390,5.051952,3.921702e+00
3,3,2.000000,0.964345,3.002519,2.000040,2.004334,0.999845,0.656616,2.000997,0.977448,...,0.999326,1.055786,1.000013,2.000008,1.922893,0.999997,0.500000,0.985549,1.948060,4.874045e-07
4,4,3.999996,5.002846,5.919502,5.957682,4.999995,5.000000,4.991898,4.022552,3.000000,...,4.000000,4.557173,5.991898,3.344058,5.020036,3.999845,3.000000,2.000000,2.000000,2.000000e+00
5,5,4.158125,4.997743,6.329784,4.008394,4.991964,4.019596,2.398518,4.189421,4.013762,...,4.999986,2.726300,3.014092,3.945552,3.211300,3.995401,3.054460,4.080343,4.117900,3.035634e+00
6,6,5.053248,6.236039,8.970508,8.994122,5.664164,8.846959,4.799121,5.788182,8.192939,...,5.062568,6.008256,6.905446,9.788758,4.032668,5.325889,5.999969,5.255614,5.764955,6.698576e+00
7,7,1.000000,1.036339,1.997555,1.002083,1.001501,1.022747,1.369946,0.000000,1.022555,...,1.000674,0.000000,0.964366,1.000653,0.171887,0.000005,0.500000,0.022552,2.056697,2.000000e+00
8,8,2.000000,2.999671,2.080343,3.999977,1.000005,1.000000,1.008102,2.000000,1.000000,...,2.000000,1.420275,1.000000,0.655942,1.977448,3.000000,1.000000,2.000000,1.000000,3.000000e+00
9,9,3.008101,4.158133,3.594518,4.001077,3.420210,1.042952,0.655942,3.008106,1.001328,...,2.000000,2.114589,2.002516,2.054460,2.655942,3.000000,1.865198,1.000032,1.012700,1.000030e+00
10,10,3.991838,5.628059,3.074537,5.998925,4.579635,2.746422,2.788700,4.991894,3.998672,...,3.999845,4.885451,5.208784,3.999930,4.321506,5.999987,4.080343,4.991866,5.995371,2.000000e+00
11,11,2.000001,1.999979,2.000105,2.000000,2.000001,0.977455,0.000000,0.000000,1.000000,...,2.000008,0.000000,1.035665,0.000000,0.000000,0.000013,0.000000,0.008102,1.000000,0.000000e+00

In [32]:
# see if the two dataframes are teh same
np.mean(final_df_facts.iloc[:,1:] == all_preproc_density_df.iloc[:,1:])

1.0

In [33]:
final_df_facts.iloc[:,1:] == all_preproc_density_df.iloc[:,1:]

,sub_count_0,sub_count_1,sub_count_2,sub_count_3,sub_count_4,sub_count_5,sub_count_6,sub_count_7,sub_count_8,sub_count_9,sub_count_10,sub_count_11,sub_count_12,sub_count_13,sub_count_14,sub_count_15,sub_count_16,sub_count_17,sub_count_18,sub_count_19
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True