In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from scipy.stats import pearsonr

In [2]:
# path to dataframes
path_to_dfs = "Reproduce_comps/forecasted_counts/block_0103/"

In [3]:
# os.listdir(path_to_dfs)

In [4]:
averaged_forecasts_csvs = []
for file in os.listdir(path_to_dfs):
    if file[:8] =='averaged':
        averaged_forecasts_csvs.append(file)

In [5]:
averaged_forecasts_csvs.sort()
averaged_forecasts_csvs

['averaged_forecasts_sub_0.csv',
 'averaged_forecasts_sub_1.csv',
 'averaged_forecasts_sub_10.csv',
 'averaged_forecasts_sub_11.csv',
 'averaged_forecasts_sub_2.csv',
 'averaged_forecasts_sub_3.csv',
 'averaged_forecasts_sub_4.csv',
 'averaged_forecasts_sub_5.csv',
 'averaged_forecasts_sub_6.csv',
 'averaged_forecasts_sub_7.csv',
 'averaged_forecasts_sub_8.csv',
 'averaged_forecasts_sub_9.csv']

In [6]:
# add the 10, 11 at the end
csv_files_10_11 = ['averaged_forecasts_sub_10.csv', 'averaged_forecasts_sub_11.csv']

In [7]:
other_files = [i for i in averaged_forecasts_csvs if i not in csv_files_10_11]

In [8]:
ordered_csv_files = other_files + csv_files_10_11

In [9]:
ordered_csv_files

['averaged_forecasts_sub_0.csv',
 'averaged_forecasts_sub_1.csv',
 'averaged_forecasts_sub_2.csv',
 'averaged_forecasts_sub_3.csv',
 'averaged_forecasts_sub_4.csv',
 'averaged_forecasts_sub_5.csv',
 'averaged_forecasts_sub_6.csv',
 'averaged_forecasts_sub_7.csv',
 'averaged_forecasts_sub_8.csv',
 'averaged_forecasts_sub_9.csv',
 'averaged_forecasts_sub_10.csv',
 'averaged_forecasts_sub_11.csv']

In [10]:
all_dfs = []
for file in ordered_csv_files:
    read_df = pd.read_csv(path_to_dfs + '/' + file)
    all_dfs.append(read_df)

In [11]:
# make a single dataframe out of the many
combined_df = pd.concat(all_dfs, axis = 1)

In [12]:
combined_df.head()

,True_value,Forecasted_value,True_value,Forecasted_value,True_value,Forecasted_value,True_value,Forecasted_value,True_value,Forecasted_value,...,True_value,Forecasted_value,True_value,Forecasted_value,True_value,Forecasted_value,True_value,Forecasted_value,True_value,Forecasted_value
0,3.000000,3.156404,4.008115,4.488439,6.203186,8.117130,2.000008,1.155189,3.344058,5.859275,...,1.000653,0.812262,0.655942,1.542533,2.054460,1.954375,3.999930,4.523273,0.000000,0.121193
1,4.002516,3.110167,3.788700,4.375664,7.895105,7.139693,1.922893,1.182845,5.020036,4.816027,...,0.171887,0.400258,1.977448,1.397838,2.655942,2.406849,4.321506,4.349336,0.000000,-1.003728
2,4.000155,3.081936,4.004599,4.634718,6.674109,7.541911,0.999997,1.235623,3.999845,5.345930,...,0.000005,1.044712,3.000000,1.736256,3.000000,2.529026,5.999987,4.685398,0.000013,0.910982
3,3.000000,2.873220,4.000000,4.156981,4.000031,6.799108,0.500000,1.270152,3.000000,2.982534,...,0.500000,-0.732140,1.000000,1.087392,1.865198,1.249619,4.080343,4.140647,0.000000,-2.027227
4,3.000000,2.798607,4.022552,4.163037,4.633390,6.193101,0.985549,1.271050,2.000000,1.921681,...,0.022552,-0.844760,2.000000,0.849296,1.000032,1.378041,4.991866,4.001519,0.008102,-0.281339

In [13]:
combined_df.shape

(7, 24)

In [14]:
# get the true values
True_values_df = combined_df[['True_value']]

In [15]:
True_values_df

,True_value,True_value,True_value,True_value,True_value,True_value,True_value,True_value,True_value,True_value,True_value,True_value
0,3.000000,4.008115,6.203186,2.000008,3.344058,3.945552,9.788757,1.000653,0.655942,2.054460,3.999930,0.000000
1,4.002516,3.788700,7.895105,1.922893,5.020036,3.211300,4.032669,0.171887,1.977448,2.655942,4.321506,0.000000
2,4.000155,4.004599,6.674109,0.999997,3.999845,3.995401,5.325889,0.000005,3.000000,3.000000,5.999987,0.000013
3,3.000000,4.000000,4.000031,0.500000,3.000000,3.054460,5.999969,0.500000,1.000000,1.865198,4.080343,0.000000
4,3.000000,4.022552,4.633390,0.985549,2.000000,4.080343,5.255614,0.022552,2.000000,1.000032,4.991866,0.008102
5,4.000000,6.054452,5.051951,1.948060,2.000000,4.117899,5.764955,2.056697,1.000000,1.012700,5.995371,1.000000
6,1.000000,4.500000,4.155932,0.002526,2.999326,2.000000,5.344028,1.997659,1.000674,1.000000,3.000031,0.000000

In [16]:
# sum the true values - since the sub images are not overlapping, we can get the sum across columns in the above dataframe
sum_true_values = True_values_df.sum(axis = 1)

In [17]:
sum_true_values

0    40.000660
1    39.000002
2    41.000000
3    31.000000
4    32.000000
5    40.002085
6    27.000176
dtype: float64

In [18]:
# get the forecasted values
Forecasted_values_df = combined_df[['Forecasted_value']]

In [19]:
Forecasted_values_df

,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value
0,3.156404,4.488439,8.117130,1.155189,5.859275,3.055075,6.079880,0.812262,1.542533,1.954375,4.523273,0.121193
1,3.110167,4.375664,7.139693,1.182845,4.816027,3.085358,5.529050,0.400258,1.397838,2.406849,4.349336,-1.003728
2,3.081936,4.634718,7.541911,1.235623,5.345930,3.051885,6.251809,1.044712,1.736256,2.529026,4.685398,0.910982
3,2.873220,4.156981,6.799108,1.270152,2.982534,3.318771,4.746244,-0.732140,1.087392,1.249619,4.140647,-2.027227
4,2.798607,4.163037,6.193101,1.271050,1.921681,3.072532,4.393156,-0.844760,0.849296,1.378041,4.001519,-0.281339
5,2.739323,4.122117,6.038714,1.284265,2.947635,3.279094,4.213767,0.829651,1.402502,1.709204,3.884944,-0.417467
6,2.660321,4.024134,5.973788,1.313769,3.191450,3.063906,3.993389,0.841878,1.241937,0.894736,3.790712,-1.881786

In [20]:
Forecasted_values_df.shape

(7, 12)

In [21]:
sum_forecasted_values = Forecasted_values_df.sum(axis = 1)

In [22]:
sum_forecasted_values

0    40.865028
1    36.789357
2    42.050187
3    29.865301
4    28.915922
5    32.033750
6    29.108235
dtype: float64

In [23]:
# concatenate the sum dataframes
block_0103_true_and_forecasted_values_df = pd.concat((sum_true_values, sum_forecasted_values), axis = 1)

In [24]:
block_0103_true_and_forecasted_values_df.columns = ["True_count", "Forecasted_count"]

In [25]:
block_0103_true_and_forecasted_values_df

   True_count  Forecasted_count
0   40.000660         40.865028
1   39.000002         36.789357
2   41.000000         42.050187
3   31.000000         29.865301
4   32.000000         28.915922
5   40.002085         32.033750
6   27.000176         29.108235

In [26]:
block_0103_true_and_forecasted_values_df.to_csv("Reproduce_comps/final_forecasted_counts/block_0103_finals_forecasts.csv", index = False)

In [27]:
# # well we need to verify that the above true values are indeed correct
# from preprocess script we have the following counts
# [43, 49, 53, 59, 45, 42, 34, 39, 37, 43, 41, 39, 43, 40, 39, 41, 31, 32, 40, 29] # the last seven numbers match with what we have.

In [28]:
# blockwise mean squared error
rmse = np.sqrt(mean_squared_error(sum_true_values, sum_forecasted_values))
rmse

3.4943696265543465

In [29]:
# blockwise mean absolute error
mae = mean_absolute_error(sum_true_values, sum_forecasted_values)
mae

2.631481445131765

In [30]:
corr = pearsonr(sum_true_values, sum_forecasted_values)
corr

PearsonRResult(statistic=0.8143450792076632, pvalue=0.025739501855015175)

In [31]:
r2 = r2_score(sum_true_values, sum_forecasted_values)
r2

0.5440130129588654

In [32]:
# May be define a function for this, so that it will be easier to get the forecasted dataframes for all blocks

In [33]:
# we need first the path to dfs per block
def get_final_forecasted_dfs(path_to_dfs_in_block, block_name, true_values_col_name, forecasted_values_col_name, forecast_path):
    # get the csv files that have the averaged 
    average_frcts_csv_files = [file for file in os.listdir(path_to_dfs_in_block) if file[:8] == 'averaged']
    # sort these files
    average_frcts_csv_files.sort()
    # get the later images to the end of the list
    csv_files_10_11 = ['averaged_forecasts_sub_10.csv', 'averaged_forecasts_sub_11.csv']
    # remove these from the total list
    other_files = [i for i in average_frcts_csv_files if i not in csv_files_10_11]
    # add the csv files in order
    ordered_csv_files = other_files + csv_files_10_11
    # print the ordered list of csv files
    print(ordered_csv_files)
    # read and append the list of the dfs
    all_dfs = [pd.read_csv(path_to_dfs_in_block + '/' + df) for df in ordered_csv_files]
    # combine all these dfs together
    combined_df = pd.concat(all_dfs, axis = 1)
    print(combined_df.shape)
    # extract the true value columns only across the sub-images
    True_counts_df = combined_df[[true_values_col_name]]
    # sum the true values dfs
    total_true_values = True_counts_df.sum(axis = 1)
    # print these true values for later comparisons
    print(total_true_values)
    # extract the true value columns across sub images
    Forecasted_counts_df = combined_df[[forecasted_values_col_name]]
    # sum the forecasted values
    total_forecasted_values = Forecasted_counts_df.sum(axis = 1)
    # concatenate the sum dataframes
    true_and_forecasted_values_df = pd.concat((total_true_values, total_forecasted_values), axis = 1)
    # add column titles to the df
    true_and_forecasted_values_df.columns = ["True_count", "Forecasted_count"]
    # save this file
    file_name = forecast_path + '/' + block_name + '.csv'
    true_and_forecasted_values_df.to_csv(file_name, index = False)
    # blockwise mean squared error
    rmse = np.sqrt(mean_squared_error(total_true_values, total_forecasted_values))
    # blockwise mae
    mae = mean_absolute_error(total_true_values, total_forecasted_values)

    return(true_and_forecasted_values_df, rmse, mae,ordered_csv_files)

In [34]:
# see if the function works
df, rmse_0103, mae_0103, ordered_files_0103 = get_final_forecasted_dfs(path_to_dfs, 'block_0103', 'True_value', 'Forecasted_value', 'final_forecasted_counts')

['averaged_forecasts_sub_0.csv', 'averaged_forecasts_sub_1.csv', 'averaged_forecasts_sub_2.csv', 'averaged_forecasts_sub_3.csv', 'averaged_forecasts_sub_4.csv', 'averaged_forecasts_sub_5.csv', 'averaged_forecasts_sub_6.csv', 'averaged_forecasts_sub_7.csv', 'averaged_forecasts_sub_8.csv', 'averaged_forecasts_sub_9.csv', 'averaged_forecasts_sub_10.csv', 'averaged_forecasts_sub_11.csv']
(7, 24)
0    40.000660
1    39.000002
2    41.000000
3    31.000000
4    32.000000
5    40.002085
6    27.000176
dtype: float64

In [35]:
df

   True_count  Forecasted_count
0   40.000660         40.865028
1   39.000002         36.789357
2   41.000000         42.050187
3   31.000000         29.865301
4   32.000000         28.915922
5   40.002085         32.033750
6   27.000176         29.108235

In [36]:
rmse_0103

3.4943696265543465

In [37]:
mae_0103

2.631481445131765

In [38]:
ordered_files_0103

['averaged_forecasts_sub_0.csv',
 'averaged_forecasts_sub_1.csv',
 'averaged_forecasts_sub_2.csv',
 'averaged_forecasts_sub_3.csv',
 'averaged_forecasts_sub_4.csv',
 'averaged_forecasts_sub_5.csv',
 'averaged_forecasts_sub_6.csv',
 'averaged_forecasts_sub_7.csv',
 'averaged_forecasts_sub_8.csv',
 'averaged_forecasts_sub_9.csv',
 'averaged_forecasts_sub_10.csv',
 'averaged_forecasts_sub_11.csv']

In [39]:
import numpy as np
import pandas as pd
import os

In [40]:
# Getting the coverages and the widths for the forecasted values - This can be done with the saved all forecasts npy files
# location for the forecast files (all forecasts)
location_all_forecasts = 'Reproduce_comps/forecasted_counts/block_0103'

# contents at this location
all_contents = os.listdir(location_all_forecasts)
all_contents.sort()

In [41]:
# we need the npy files for all forecasts
all_forecast_files = [file for file in all_contents if file[:3] == 'all']

In [42]:
# arange the files in order
later_npy_files = ['all_forecasts_sub_10.npy', 'all_forecasts_sub_11.npy']
first_files = [file for file in all_forecast_files if file not in later_npy_files]

In [43]:
final_all_forecast_files = first_files + later_npy_files

In [44]:
loaded_npy_files = []
for file in final_all_forecast_files:
    joined_path = os.path.join(location_all_forecasts, file)
    load_file = np.load(joined_path)
    loaded_npy_files.append(load_file)

In [45]:
len(loaded_npy_files)

12

In [46]:
# 5.3671412 + 3.80887

In [47]:
# loaded_npy_files[0]

In [48]:
# loaded_npy_files[1]

In [49]:
# try_0 = loaded_npy_files[0] + loaded_npy_files[1]

In [50]:
output = sum(loaded_npy_files)

In [51]:
output.shape

(1000, 4, 7)

In [52]:
final_array = output.reshape(4000,7)

In [75]:
final_array[0,:].shape

(7,)

In [86]:
li_train = np.percentile(final_array, axis = 0, q = (2.5, 97.5))[0,:].reshape(-1,1)    
ui_train = np.percentile(final_array, axis = 0, q = (2.5, 97.5))[1,:].reshape(-1,1)

In [87]:
li_train.shape

(7, 1)

In [88]:
ui_train.shape

(7, 1)

In [89]:
width_train = ui_train - li_train
avg_width_train = width_train.mean(0)[0]

In [90]:
avg_width_train

32.07117711475917

In [91]:
y_traina = block_0103_true_and_forecasted_values_df[["True_count"]].values

In [92]:
y_traina

array([[40.00066018],
       [39.00000194],
       [41.0000001 ],
       [31.00000012],
       [31.99999956],
       [40.00208521],
       [27.00017555]])

In [93]:
ind_train = (y_traina >= li_train) & (y_traina <= ui_train)
coverage_train= ind_train.mean(0)[0]

In [94]:
coverage_train

1.0

Verify the true counts we have for the test data are indeed correct

In [62]:
# Verify the true counts - from np arrays - location Block_0103/sub_images_and_counts

sub_count_loc = 'all_preprocessed_data/Block_0103/sub_images_and_counts'

In [63]:
sub_density_maps = [i for i in os.listdir(sub_count_loc) if i.split(".")[0][-7:] == 'density']
sub_density_maps.sort()

In [64]:
# get the test dates
test_time_periods = ['2020_08_26', '2020_08_27', '2020_08_28' ,'2020_08_31', '2020_09_02', '2020_09_07', '2020_09_16']

In [65]:
test_time_periods = ['Block0103_' + i for i in test_time_periods]

In [66]:
# print the test dates
test_time_periods

['Block0103_2020_08_26',
 'Block0103_2020_08_27',
 'Block0103_2020_08_28',
 'Block0103_2020_08_31',
 'Block0103_2020_09_02',
 'Block0103_2020_09_07',
 'Block0103_2020_09_16']

In [67]:
# get the density maps for these days only for the computation of the total true counts of the test images
test_density_maps = [i for i in sub_density_maps if i[:20] in test_time_periods]
test_density_maps.sort()

In [68]:
%%time
# get the true counts
true_counts_in_order = []
step = 0
# we have only seven time points
for u in range(7):
    catch_counts = []
    # for each time steps we have 12 images, and since the sub windows are not overlapping we can add the values straightaway eben without sorting
    for j in range(step, step + 12):
        total_count = np.sum(np.load(os.path.join(sub_count_loc, test_density_maps[j])))
        catch_counts.append(total_count)
    true_counts_in_order.append(np.sum(catch_counts))
    step = step + 12

CPU times: user 38.7 ms, sys: 59.1 ms, total: 97.8 ms
Wall time: 452 ms

In [69]:
true_counts_in_order

[40.00066054548969,
 39.0000012729526,
 41.00000000000001,
 31.000000000000004,
 31.999999512595508,
 40.002085724842324,
 27.00017567078534]

In [70]:
df[['True_count']].values.flatten()

array([40.00066018, 39.00000194, 41.0000001 , 31.00000012, 31.99999956,
       40.00208521, 27.00017555])

In [71]:
# see if the two values we get match

In [72]:
np.mean(np.round(true_counts_in_order, 0) == np.round(df[['True_count']].values.flatten(), 0))

1.0