In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [2]:
# path to dataframes
path_to_dfs = "forecasted_counts/block_0103/"

In [3]:
# os.listdir(path_to_dfs)

In [4]:
averaged_forecasts_csvs = []
for file in os.listdir(path_to_dfs):
    if file[:8] =='averaged':
        averaged_forecasts_csvs.append(file)

In [5]:
averaged_forecasts_csvs.sort()
averaged_forecasts_csvs

['averaged_forecasts_sub_0.csv',
 'averaged_forecasts_sub_1.csv',
 'averaged_forecasts_sub_10.csv',
 'averaged_forecasts_sub_11.csv',
 'averaged_forecasts_sub_2.csv',
 'averaged_forecasts_sub_3.csv',
 'averaged_forecasts_sub_4.csv',
 'averaged_forecasts_sub_5.csv',
 'averaged_forecasts_sub_6.csv',
 'averaged_forecasts_sub_7.csv',
 'averaged_forecasts_sub_8.csv',
 'averaged_forecasts_sub_9.csv']

In [6]:
# add the 10, 11 at the end
csv_files_10_11 = ['averaged_forecasts_sub_10.csv', 'averaged_forecasts_sub_11.csv']

In [7]:
other_files = [i for i in averaged_forecasts_csvs if i not in csv_files_10_11]

In [8]:
ordered_csv_files = other_files + csv_files_10_11

In [9]:
ordered_csv_files

['averaged_forecasts_sub_0.csv',
 'averaged_forecasts_sub_1.csv',
 'averaged_forecasts_sub_2.csv',
 'averaged_forecasts_sub_3.csv',
 'averaged_forecasts_sub_4.csv',
 'averaged_forecasts_sub_5.csv',
 'averaged_forecasts_sub_6.csv',
 'averaged_forecasts_sub_7.csv',
 'averaged_forecasts_sub_8.csv',
 'averaged_forecasts_sub_9.csv',
 'averaged_forecasts_sub_10.csv',
 'averaged_forecasts_sub_11.csv']

In [10]:
all_dfs = []
for file in ordered_csv_files:
    read_df = pd.read_csv(path_to_dfs + '/' + file)
    all_dfs.append(read_df)

In [11]:
# make a single dataframe out of the many
combined_df = pd.concat(all_dfs, axis = 1)

In [12]:
combined_df.head()

,True_value,Forecasted_value,True_value,Forecasted_value,True_value,Forecasted_value,True_value,Forecasted_value,True_value,Forecasted_value,...,True_value,Forecasted_value,True_value,Forecasted_value,True_value,Forecasted_value,True_value,Forecasted_value,True_value,Forecasted_value
0,3.000000,3.502995,4.008115,4.326490,6.203186,5.903662,2.000008,1.338628,3.344058,4.409308,...,1.000653,0.412638,0.655942,1.451323,2.054460,2.462344,3.999930,3.446359,0.000000,3.446359
1,4.002516,3.395932,3.788700,4.016761,7.895105,5.203614,1.922893,1.336902,5.020036,3.926179,...,0.171887,0.828952,1.977448,1.390231,2.655942,2.309512,4.321506,3.590898,0.000000,3.590898
2,4.000155,3.814880,4.004599,4.545232,6.674109,5.510455,0.999997,1.356144,3.999845,3.884913,...,0.000005,0.906043,3.000000,1.716366,3.000000,2.400968,5.999987,3.983727,0.000013,3.983727
3,3.000000,3.388231,4.000000,3.685815,4.000031,4.334354,0.500000,1.329767,3.000000,3.888840,...,0.500000,0.466146,1.000000,1.351411,1.865198,1.324217,4.080343,2.786875,0.000000,2.786875
4,3.000000,3.320000,4.022552,3.788454,4.633390,5.224694,0.985549,1.362508,2.000000,3.866236,...,0.022552,0.100696,2.000000,1.358309,1.000032,1.362116,4.991866,2.783088,0.008102,2.783088

In [13]:
combined_df.shape

(7, 24)

In [14]:
# get the true values
True_values_df = combined_df[['True_value']]

In [15]:
True_values_df

,True_value,True_value,True_value,True_value,True_value,True_value,True_value,True_value,True_value,True_value,True_value,True_value
0,3.000000,4.008115,6.203186,2.000008e+00,3.344058,3.945552,9.788757,1.000653,0.655942,2.054460,3.999930,0.000000
1,4.002516,3.788700,7.895105,1.922893e+00,5.020036,3.211300,4.032669,0.171887,1.977448,2.655942,4.321506,0.000000
2,4.000155,4.004599,6.674109,9.999968e-01,3.999845,3.995401,5.325889,0.000005,3.000000,3.000000,5.999987,0.000013
3,3.000000,4.000000,4.000031,5.000000e-01,3.000000,3.054460,5.999969,0.500000,1.000000,1.865198,4.080343,0.000000
4,3.000000,4.022552,4.633390,9.855494e-01,2.000000,4.080343,5.255614,0.022552,2.000000,1.000032,4.991866,0.008102
5,4.000000,6.054452,5.051951,1.948060e+00,2.000000,4.117899,5.764955,2.056697,1.000000,1.012700,5.995371,1.000000
6,1.000000,4.344055,3.921701,4.874045e-07,2.000000,3.035635,6.698575,2.000000,3.000000,1.000031,2.000000,0.000000

In [16]:
# sum the true values - since the sub images are not overlapping, we can get the sum across columns in the above dataframe
sum_true_values = True_values_df.sum(axis = 1)

In [17]:
sum_true_values

0    40.000660
1    39.000002
2    41.000000
3    31.000000
4    32.000000
5    40.002085
6    28.999997
dtype: float64

In [18]:
# get the forecasted values
Forecasted_values_df = combined_df[['Forecasted_value']]

In [19]:
Forecasted_values_df

,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value,Forecasted_value
0,3.502995,4.326490,5.903662,1.338628,4.409308,3.406864,5.525224,0.412638,1.451323,2.462344,3.446359,3.446359
1,3.395932,4.016761,5.203614,1.336902,3.926179,3.371857,5.364756,0.828952,1.390231,2.309512,3.590898,3.590898
2,3.814880,4.545232,5.510455,1.356144,3.884913,3.872368,5.644076,0.906043,1.716366,2.400968,3.983727,3.983727
3,3.388231,3.685815,4.334354,1.329767,3.888840,2.576823,4.306230,0.466146,1.351411,1.324217,2.786875,2.786875
4,3.320000,3.788454,5.224694,1.362508,3.866236,2.924413,4.241324,0.100696,1.358309,1.362116,2.783088,2.783088
5,3.320607,3.392447,4.430379,1.333117,3.919806,2.794615,3.635818,0.897469,1.323661,1.652594,2.999238,2.999238
6,3.234726,3.687640,4.308504,1.348944,4.092342,3.509137,4.633303,0.813943,1.322282,1.420593,2.879916,2.879916

In [20]:
sum_forecasted_values = Forecasted_values_df.sum(axis = 1)

In [21]:
sum_forecasted_values

0    39.632194
1    38.326490
2    41.618899
3    32.225583
4    33.114928
5    32.698990
6    34.131247
dtype: float64

In [22]:
# concatenate the sum dataframes
block_0103_true_and_forecasted_values_df = pd.concat((sum_true_values, sum_forecasted_values), axis = 1)

In [23]:
block_0103_true_and_forecasted_values_df.columns = ["True_count", "Forecasted_count"]

In [24]:
block_0103_true_and_forecasted_values_df

   True_count  Forecasted_count
0   40.000660         39.632194
1   39.000002         38.326490
2   41.000000         41.618899
3   31.000000         32.225583
4   32.000000         33.114928
5   40.002085         32.698990
6   28.999997         34.131247

In [25]:
block_0103_true_and_forecasted_values_df.to_csv("final_forecasted_counts/block_0103_finals_forecasts.csv", index = False)

In [26]:
# # well we need to verify that the above true values are indeed correct
# from preprocess script we have the following counts
# [43, 49, 53, 59, 45, 42, 34, 39, 37, 43, 41, 39, 43, 40, 39, 41, 31, 32, 40, 29] # the last seven numbers match with what we have.

In [27]:
# blockwise mean squared error
rmse = np.sqrt(mean_squared_error(sum_true_values, sum_forecasted_values))
rmse

3.451344747587073

In [28]:
# blockwise mean absolute error
mae = np.sqrt(mean_absolute_error(sum_true_values, sum_forecasted_values))
mae

1.5323060953460297

In [29]:
po# May be define a function for this, so that it will be easier to get the forecasted dataframes for all blocks

In [30]:
# we need first the path to dfs per block
def get_final_forecasted_dfs(path_to_dfs_in_block, block_name, true_values_col_name, forecasted_values_col_name, forecast_path):
    # get the csv files that have the averaged 
    average_frcts_csv_files = [file for file in os.listdir(path_to_dfs_in_block) if file[:8] == 'averaged']
    # sort these files
    average_frcts_csv_files.sort
    # get the later images to the end of the list
    csv_files_10_11 = ['averaged_forecasts_sub_10.csv', 'averaged_forecasts_sub_11.csv']
    # remove these from the total list
    other_files = [i for i in average_frcts_csv_files if i not in csv_files_10_11]
    # add the csv files in order
    ordered_csv_files = other_files + csv_files_10_11
    # print the ordered list of csv files
    print(ordered_csv_files)
    # read and append the list of the dfs
    all_dfs = [pd.read_csv(path_to_dfs_in_block + '/' + df) for df in ordered_csv_files]
    # combine all these dfs together
    combined_df = pd.concat(all_dfs, axis = 1)
    print(combined_df.shape)
    # extract the true value columns only across the sub-images
    True_counts_df = combined_df[[true_values_col_name]]
    # sum the true values dfs
    total_true_values = True_counts_df.sum(axis = 1)
    # print these true values for later comparisons
    print(total_true_values)
    # extract the true value columns across sub images
    Forecasted_counts_df = combined_df[[forecasted_values_col_name]]
    # sum the forecasted values
    total_forecasted_values = Forecasted_counts_df.sum(axis = 1)
    # concatenate the sum dataframes
    true_and_forecasted_values_df = pd.concat((total_true_values, total_forecasted_values), axis = 1)
    # add column titles to the df
    true_and_forecasted_values_df.columns = ["True_count", "Forecasted_count"]
    # save this file
    file_name = forecast_path + '/' + block_name + '.csv'
    true_and_forecasted_values_df.to_csv(file_name, index = False)
    # blockwise mean squared error
    rmse = np.sqrt(mean_squared_error(total_true_values, total_forecasted_values))
    # blockwise mae
    mae = np.sqrt(mean_absolute_error(total_true_values, total_forecasted_values))

    return(true_and_forecasted_values_df, rmse, mae)

In [31]:
# see if the function works
df, rmse_0103, mae_0103 = get_final_forecasted_dfs(path_to_dfs, 'block_0103', 'True_value', 'Forecasted_value', 'final_forecasted_counts')

['averaged_forecasts_sub_8.csv', 'averaged_forecasts_sub_6.csv', 'averaged_forecasts_sub_1.csv', 'averaged_forecasts_sub_0.csv', 'averaged_forecasts_sub_7.csv', 'averaged_forecasts_sub_9.csv', 'averaged_forecasts_sub_4.csv', 'averaged_forecasts_sub_3.csv', 'averaged_forecasts_sub_2.csv', 'averaged_forecasts_sub_5.csv', 'averaged_forecasts_sub_10.csv', 'averaged_forecasts_sub_11.csv']
(7, 24)
0    40.000660
1    39.000002
2    41.000000
3    31.000000
4    32.000000
5    40.002085
6    28.999997
dtype: float64

In [32]:
df

   True_count  Forecasted_count
0   40.000660         39.632194
1   39.000002         38.326490
2   41.000000         41.618899
3   31.000000         32.225583
4   32.000000         33.114928
5   40.002085         32.698990
6   28.999997         34.131247

In [33]:
rmse_0103

3.451344747587071

In [34]:
mae_0103

1.5323060953460295